
	<div class="top-visual">
		<p>Top-visual</p>
		<div class="inup-btn">
			<div class="inup"><%= link_to "Sign_up", new_user_registration_path %></div>
			<div class="inup"><%= link_to "Log_in", new_user_session_path %></div>

		</div>
	</div>
